@model UsersDiosna.Sheme.Models.SchemeEditor
@using UsersDiosna.Sheme.Models
@{
    ViewBag.Title = "Scheme editor";
}

<h4>Scheme Editor</h4>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@foreach (DynValue val in Model.SchemeTags) {
   <span>Table:</span> <input type="text" name="@val.id" value="@val.table" />
}
@Html.Raw(File.ReadAllText(Server.MapPath(Model.relativePath)))
<br>Second svg
<object type="image/svg+xml" data="@Model.relativePath">
    Your object does not suupport SVG
</object>