
@{
    ViewBag.Title = "Order";
}

<h2>Under development</h2>

<div class="jumbotron">
    <p>
       System is under production so please be patient<br />
       Chrome well-comptible browser so use it please<br />
    </p><a href="~/Home/" class="btn-primary btn-lg">Back to hompepage</a>
</div>
