@using UsersDiosna.Controllers
@using System.Web.Mvc
@{
    ViewBag.Title = "Home - Diosna cloud";
}
<h2>Welcome to Diosna cloud homepage</h2>
<div class="row">
    <h6>Select your destination / bakery</h6>
    @{int index = 1; double some = Math.Ceiling((double)ViewBag.Numbers.Count / 3);}
    <div class="well">
        @for (int idx = 1; idx <= some; idx++)
        {
            <div class="btn-group btn-group-justified">
                @for (int i = 1; i <= 3 && index <= (ViewBag.Count - 1); i++)
                {
                    <a href="/Menu/Index/@ViewBag.Numbers[index]" class="btn btn-primary">@ViewBag.Text[index]&rAarr;</a>
                    index++;
                }
            </div>
            <p></p>
        }
    </div>
    <h6>Read general or project specific articles in our knowledge base</h6>
    <div class="btn-group btn-group-justified well">
        <a href="/Menu/Index/@ViewBag.Numbers[0]" class="btn btn-primary">Knowledge Base&rAarr;</a>
    </div>
    <p></p>
    <h6>Go to the guest zone (login not necessary)</h6>
    <div class="btn-group btn-group-justified well">
        <a href="/Home/" class="btn btn-primary">Guest Zone</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Compatibility</h2>
        <p>
            Compatible with chrome<br>
        </p>
        <p><a class="btn btn-default" href="http://users.diosn.cz/Home/Compatibility/">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            In latest update have been added following features:<br>
            Changes commit:  …<br>
            scheme index h2 to h4<br>
            graph getData async done<br>
            graph client signals drawed<br>
            menu small style changes<br>
        </p>
        <p><a class="btn btn-default" href="http://users.diosna.cz/Home/News/">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Link to old version:</h2>
        <p>If you need old users click below</p>
        <p><a class="btn btn-default" href="http://users.nordit.cz/">Bye &raquo;</a></p>
    </div>
</div>