 <div id="graph" onLoad="init()" scroll="no" style="overflow: hidden;">
      <link href="./css/style_01.css" rel="stylesheet" type="text/css" />
      <script src="./js/graphControler.js"></script>

    <div id="top_menu">
      <input id="backShift" style="height: 26px; width: 50px;" type="button" value="-24h" onClick="backShift()"/>
      <input id="fwdShift" style="height: 26px; width: 50px;" type="button" value="+24h" onClick="fwdShift()"/>
      <input id="narrow" style="height: 26px; width: 45px;" type="button" value="-><-" onClick="narrow()"/>
      <input id="extend"style="height: 26px; width: 45px;" type="button" value="<->" onClick="extend()"/>
      <input id="backDay"style="height: 26px; width: 50px;" type="button" value="<-day" onClick="backDay()"/>
      <input id="fwdDay"style="height: 26px; width: 50px;" type="button" value="day->" onClick="fwdDay()"/>
      <input id="zoom" style="height: 26px; width: 50px;" type="button" value="zoom" onClick="zoomSignal(value)"/>
      <input id="date"style="height: 26px; width: 50px;" type="button" value="date" onClick="calendar();"/>
      <input id="reset" style="height: 26px; width: 50px;" type="button" value=">0<" onClick="resetValue(value)"/>
      <input id="refresh"style="height: 26px; width: 60px;" type="button" value="refresh" onClick="refresh()"/>
      <label for="group">group:</label>
      <select id="group" style="height: 26px; width: 210px;" onChange="changeGroup(value)" tabindex="1" method="get">        
      </select>
      <input id="lang" style="height: 26px; width: 75px;" type="button" value="lang:EN" onClick="changeLang()"/>
     <!-- <input id="zone" style="text-align: left; height: 26px; width: 120px;" type="button" value="zone:CET" onClick="changeZone(value)"/> -->
      <label for="zone">zone:</label>
      <select id="zone" style="height: 26px; width: 90px;" onChange="changeZone(value)" tabindex="1" method="get">
        <option value="UTC" selected="selected">UTC</option>
        <option value="CET">CET</option>
        <option value="Moscow">Moscow</option>
        <option value="Japan">Japan</option>
        <option value="New York">New York</option>
      </select>
      <!-- <input id="mode" style="height: 26px; width: 50px;" type="button" value="mode" onClick="chartMode()"/> -->
      <input id="settings" style="height: 26px; width: 70px;" type="button" value="settings" onClick="settings(value)"/>      
      <input id="default" style="height: 26px; width: 70px; visibility: hidden;" type=button value="Default" onClick="defaultLayout()"/>
    </div>

    <div id="calendar" style="position: absolute; top: 105px; left: 350px; background-color: #F0F0F0; z-index: 0; visibility: hidden">    
    </div>

    <div id="settingsWin" style="position: absolute; top: 105px; left: 250px; background-color: #F0F0F0; z-index: 0; visibility: hidden">
    </div>

    <div id="message" style="position: absolute; top: 86px; left: 400px; height: 19px; width: 700px; background-color: #F0F0F0; z-index: 50;">
      <span style="text-align: left; font-weight: 700; color:#FF0000; margin-left: 15px;"></span>
      <input id="reload" style="float: right; height: 19px; width: 50px; font-size: 9pt" type="button" value="reload" onClick="reload()"/>
    </div>

    <div id="graph_content" style="position: absolute;">
      <canvas id="active_canvas" width="1600" height="900" style="position: absolute; z-index: -1;"></canvas>
      <canvas id="front_canvas" width="1600" height="900" style="position: absolute; z-index: -2;"></canvas>
      <canvas id="signal_canvas" width="1600" height="900" style="position: absolute; z-index: -3;"></canvas>
      <canvas id="back_canvas" width="1600" height="900" style="position: absolute; z-index: -4;"></canvas>   
    </div>

    <div id="loading" style="display: block; width: 102px; height: 19px; position: absolute; top: 110px; left: 610px; z-index: 0;">
       <div style="z-index: 0; width: 102px; height: 19px" id="fountainG">
  	     <div id="fountainG_1" class="fountainG"></div>
  	     <div id="fountainG_2" class="fountainG"></div>
  	     <div id="fountainG_3" class="fountainG"></div>
  	     <div id="fountainG_4" class="fountainG"></div>
  	     <div id="fountainG_5" class="fountainG"></div>
  	     <div id="fountainG_6" class="fountainG"></div>
  	     <div id="fountainG_7" class="fountainG"></div>
  	     <div id="fountainG_8" class="fountainG"></div>
       </div>
    </div>

    <div id="sources">
     <!-- graphicList -->
     <img id="status" style="display: none;" src="/img/status.png" />
     <!-- event icons -->
     <img id="close" style="display: none;" src="/img/close.png" />
     <img id="signal_visible" style="display: none;" src="/img/signal_visible.png" />
     <img id="event_point" style="display: none;" src="/img/event_point.png" />
    </div>
  
    <script src="/js/jquery-latest.js"></script>
    <!--[if lt IE 9]>
      <script src="excanvas.js"></script>
    <![endif]-->
    <script src="/lib/pktime.js"></script>    
  
  </div>  