
@{
    ViewBag.Title = "Error";
}

<h3 class="text-danger">Error:</h3>
<h3 class="text-danger">Id: @MvcApplication.id At: @DateTime.Now.ToShortTimeString() Happened on: @DateTime.Now.ToShortDateString() <br>
    Occured so please try it again after some time</h3>
<a class="btn bg-danger" href="/Account/Login">Please try again login for second try</a>

